.footer {
  border-top: 1px solid #000;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;

  @media screen and (min-width: 768px) {
    height: 146px;
  }

  &__link {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: $primary-black-color;

    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }

  &__text {
    text-transform: uppercase;
    color: $green-color;
  }
}
