.footer{
    height: 120px;
    background-color: #7A7A7A;
    display: block;
    align-items: center;
    justify-content: center;

  @media screen and (min-width: 768px) {
    height: 146px;
  }
}

.footer__link{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: $primary-white-color;

    @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}

.footer__text{
    text-transform: uppercase;
}