body.darkTheme {
  background-color: $background-dark-color;
  color: $background-color;


body.darkTheme{
  .sun {
    fill: $primary-blue-color;
  }

  .moon {
    fill: $primary-grey-color;
  }



    & .header {
      border: 1px solid $background-color;
    }

    & .header-logo-text {
      color: $background-color;
    }

    & .header-search-input {
      border: 1px solid $background-color;
    }

    & .header-search-input::placeholder {
      color: $background-color;
    }

    & .header-icon-search {
      fill: $background-color;
    }

    & .description__filter__calendar {
      color: $background-color;
    }

    & .theme__light {
      color: $background-color;
    }

    & .theme__dark {
      color: $primary-blue-color;
    }

    & .sun {
      fill:none ;
      stroke: $primary-grey-color;
  }

    & .moon{
      fill:none;
      stroke: $primary-blue-color;
  }


    .withoutnews-title {
      color: $background-color;
    }
  }
}
