<section class="container">
  <div class="filter">
    <ul class="filter__list__des list"></ul>
    <ul class="filter__list__tab list"></ul>
    <div class="filter__categories__container"></div>
    <p class="description__filter__calendar">Search date news</p>
    <div class="filter__calendar__container"></div>
  </div>
  <div class="news">
    <div class="news__weather"></div>
    <div class="wrapper">
      <ul class="wrapper__list"></ul>
    </div>
  </div>
  <div class="paginator"></div>
  <div class="container__error"></div>
</section>
