<section class="container">
  <div class="filter">
    <ul class="filter__list__des list">
      <li class="filter__item"><button class="filter__item__btn" type="button">Admin</button></li>
      <li class="filter__item"><button class="filter__item__btn" type="button">Arts</button></li>
      <li class="filter__item"><button class="filter__item__btn" type="button">Automobiles</button></li>
      <li class="filter__item"><button class="filter__item__btn" type="button">Books</button></li>
      <li class="filter__item"><button class="filter__item__btn" type="button">Briefing</button></li>
      <li class="filter__item"><button class="filter__item__btn" type="button">Business</button></li>
      <li class="filter__item">
        <button class="filter__item__btn others" type="button">
          Others
          <div class="categories__btn__post__el"></div>
        </button>
      </li>
    </ul>
    <ul class="filter__list__tab list">
      <li class="filter__item"><button class="filter__item__btn" type="button">Admin</button></li>
      <li class="filter__item"><button class="filter__item__btn" type="button">Arts</button></li>
      <li class="filter__item"><button class="filter__item__btn" type="button">Automobiles</button></li>
      <li class="filter__item"><button class="filter__item__btn" type="button">Books</button></li>
      <li class="filter__item">
        <button class="filter__item__btn others" type="button">
          Others
          <div class="categories__btn__post__el"></div>
        </button>
      </li>
    </ul>
    <button class="filter__categories filter__btn" type="button">
      <span class="filter__categories__text">Categories</span>
      <div class="categories__btn__post__el"></div>
    </button>
    <p class="description__filter__calendar">Search date news</p>
    <button class="filter__calendar filter__btn" type="button">
      <div class="calendar__btn__pre__el"></div>
      <span class="filter__calendar__text">01/03/2023</span>
      <div class="calendar__btn__post__el"></div>
    </button>
  </div>
  <div class="news">
    <div class="news__weather">Weather</div>
    <div class="wrapper">
      <div class="card box1">One</div>
      <div class="card box2">Two</div>
      <div class="card box3">Three</div>
      <div class="card box4">Four</div>
      <div class="card box5">Five</div>
      <div class="card box6">Six</div>
      <div class="card box7">Seven</div>
      <div class="card box8">Eight</div>
    </div>
  </div>
</section>
